:root {
  --primary: #2271B1;
  --secondary: #E91E63;
  --bg-primary: #fff;
  --bg-secondary: #818aa5;
}

.d-none {
  display: none !important;
}

.flex-center {
  display: flex !important;
  align-items: center;
}

.required {
  color: var(--secondary) !important;
}

.required::before {
  display: inline-block;
  margin-right: 4px;
  color: var(--secondary);
  font-size: 16px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.success-message {
  position: relative;
  margin: 5px 0 15px;
  background: #fff;
  border: 1px solid #c3c4c7;
  border-left-color: #00a32a;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  padding: 1px 12px;
}

.success-message > p {
  margin: 0.5em 0;
  padding: 2px;
  font-size: 13px;
  line-height: 1.5;
}

.success-message > button {
  position: absolute;
  top: 0;
  right: 1px;
  border: none;
  margin: 0;
  padding: 9px;
  background: 0 0;
  color: #787c82;
  cursor: pointer;
}

.success-message > button::before {
  background: 0 0;
  color: #787c82;
  content: "\f153";
  display: block;
  font: normal 16px/20px dashicons;
  height: 20px;
  text-align: center;
  width: 20px;
}

.poster-wrapper img {
  max-width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .7;
  z-index: 9998;
}

.film-modal {
  background-color: white;
  width: 84%;
  min-width: 650px;
  overflow: hidden;
  position: fixed;
  top: 60px;
  left: 8%;
  z-index: 9999;
  margin: 0 auto;
  border-radius: 5px;
}

.modal-delete {
  width: 40%;
  min-width: 300px;
  left: 30%;
  top: 80px;
  bottom: unset;
}

.film-modal .modal-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-bottom: 50px;
}

.film-modal .close {
  position: absolute;
  top: 6px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  margin: unset;
  cursor: pointer;
}

.film-modal .modal-header p {
  margin: unset;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.film-modal .modal-content {
  padding: 20px;
  padding-top: 0;
}

.modal-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*------------------------------ Nav ------------------------------*/
.nav-tabs-film {
  float: left;
  width: 100%;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid transparent;
}

.nav-tabs-film > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs-film > li > a {
  margin-right: 2px;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  float: left;
  text-decoration: none;
}

.nav-tabs-film > li > a:hover {
  border-color: #eee #eee #ddd;
}

.nav-tabs-film > li.active > a,
.nav-tabs-film > li.active > a:hover,
.nav-tabs-film > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: white;
  box-shadow: none;
  font-weight: bold;
}

.tab-content > .tab-pane-film {
  float: left;
  width: 100%;
  display: none;
  overflow: auto;
}

.tab-content > .tab-pane-film > table {
  min-width: 1280px;
}

.tab-content > .tab-pane-film.active {
  display: block;
  padding: 10px;
  background-color: white;
  box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.15);
}

/*------------------------------ Pagination ------------------------------*/
.pagination {
  display: flex;
  justify-content: end;
  gap: 5px;
  flex-wrap: wrap;
}

.pagination a {
  max-width: 30px;
  min-height: 30px !important;
  max-height: 30px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.pagination a.active {
  color: white !important;
  background-color: var(--bg-secondary) !important;
  border-color: var(--bg-secondary) !important;
}

.show_if_simple.tips {
  display: none !important;
}

.woocommerce-product-description {
  display: none;
}

#edit-slug-box {
  display: none;
}

.button-primary {
  background-color: var(--bg-secondary) !important;
  border-color: var(--bg-secondary) !important;
}

#footer-thankyou, #footer-upgrade {
  display: none;
}

#adminmenu #toplevel_page_woocommerce .menu-icon-generic div.wp-menu-image::before {
  font-family: 'WooCommerce' !important;
  content: '\e03d';
}

.wp-menu-image.svg {
  background-image: unset !important;
  font-family: dashicons;
}

.wp-menu-image.svg::before {
  content: "\f111";
  font-size: 20px;
  display: block;
  padding-top: 4px;
}

.woocommerce-layout__header {
  display: none;
}

#wpbody {
  margin-top: 0 !important;
}

#wp-admin-bar-root-default {
  display: none;
}

#adminmenuback {
  background-color: unset;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#wpadminbar {
  background: var(--bg-primary);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#adminmenu {
  margin-top: 0;
  margin: unset;
  width: 155px;
}

#adminmenuwrap {
  width: 155px;
}

#adminmenuwrap, #adminmenu, #adminmenuback {
  background: var(--bg-primary);
  
}

.wp-submenu {
  background-color: var(--bg-primary) !important;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
  background: var(--bg-secondary) !important;
}

#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus {
  background: var(--bg-secondary) !important;
  color: white !important;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after, #adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after {
  border-right-color: var(--bg-primary) !important;
}

#adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before {
  color: white !important;
}

#adminmenu li.menu-top {
  border-bottom: 1px solid white;
}

#adminmenu .toplevel_page_woocommerce {
  border-top: 1px solid white;
}

.wp-menu-separator {
  display: none;
}

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus {
  color: black;
}

#adminmenu div.wp-menu-name {
  font-weight: bold;
}

#adminmenu a {
  color: black;
}

#adminmenu div.wp-menu-image:before {
  color: #a7aaad;
}

#adminmenu .opensub .wp-submenu li.current a, #adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:focus, #adminmenu .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a {
  color: black;
}

#adminmenu .wp-has-current-submenu ul>li>a, .folded #adminmenu li.menu-top .wp-submenu>li>a {
  color: #c3c4c7;
}

#adminmenu .wp-submenu a {
  color: black;
}

.wp-submenu {
  width: 155px !important;
}

#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, #wpadminbar>#wp-toolbar span.noticon {
  color: black;
}

#coupon-root {
  display: none;
}
