.d-none {
  display: none !important;
}

.flex-center {
  display: flex !important;
  align-items: center;
}

.poster-wrapper img {
  max-width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .7;
  z-index: 9998;
}

.modal {
  background-color: white;
  width: 84%;
  min-width: 650px;
  overflow: hidden;
  position: fixed;
  top: 60px;
  left: 8%;
  z-index: 9999;
  margin: 0 auto;
  border-radius: 5px;
}

.modal-delete {
  width: 40%;
  min-width: 300px;
  min-height: 200px;
  left: 30%;
  top: 80px;
  bottom: unset;
}

.modal .modal-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-bottom: 50px;
}

.modal .close {
  position: absolute;
  top: 6px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  margin: unset;
  cursor: pointer;
}

.modal .modal-header p {
  margin: unset;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.modal .modal-content {
  padding: 20px;
  padding-top: 0;
}

.modal-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
